<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="alpha-zero/AlphaZero.ImageSharper">
      <package pattern="AlphaZero.ImageSharper*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
